
.idea/
*.txt

aspnet_client/

data/

logs/
mcj.sql
message.php
Would skip repository mobile/admin/includes/jpush/vendor/monolog/monolog
Would skip repository mobile/admin/includes/jpush/vendor/nategood/httpful
Would skip repository mobile/admin/includes/jpush/vendor/psr/log

*.sql
